.composition {
  position: relative;
  z-index: 10;
  transition: all 0.5s;

  &__photo {
    outline-offset: 1rem;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    @include responed(tab-port) {
      float: left;
      position: relative;
      width: 33.33333%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    }
    &--p1 {
      left: 0;
      top: -2rem;
      @include responed(tab-port) {
        transform: scale(1.4);
        top: 0;
      }
    }
    &--p2 {
      top: 2rem;
      right: 0rem;
      @include responed(tab-port) {
        // top: 0;
        transform: scale(1.4);
        z-index: 2;
        top: -2rem;
      }
    }
    &--p3 {
      top: 10rem;
      left: 20%;
      @include responed(tab-port) {
        transform: scale(1.4);
        top: 0;
        left: 0;
      }
    }
    &:hover {
      outline: 0.3rem solid $color-primary-dark;
      transform: scale(1.5) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4 rem rgba($color-black, 0.5);
      z-index: 11;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
  }
}
.messages {
  max-width: 80vw;
  max-height: 60vh;
  margin: 0 auto;
  overflow-y: scroll;
  position: relative;
  .story {
    max-width: 60%;
    max-height: 5rem;
    position: relative;
    &__shape {
      width: 9rem;
      height: 5rem;
    }
  }
}
