.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 1rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 1.6);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  transition: all 0.4s;
  @include responed(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
  @include responed(phone) {
    transform: skewX(0);
  }
  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webbkit-shape-outside: circle(50% at 50% 50%);
    -webbkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-4rem) skewX(12deg);
    position: relative;
    @include responed(phone) {
      transform: translateX(-3rem) kewX(0);
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    transform: translateX(-4rem) scale(1.5);
  }
  &__text {
    transform: skewX(12deg);
    @include responed(phone) {
      transform: skewX(0);
    }
  }
  &__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1.2);
    transition: all 0.4s;
    filter: blur(0.3rem) brightness(50%);
  }
}
