@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager

/*

0-600px:     Phone
600-900px:   tablet portrait
900-1200px:  tablet landscape
1200-1800:  my normal styles apply
1800+: big desktop
*/
@mixin responed-phone {
  @media (max-width: 600px) {
    @content;
  }
}
//1em---16pxs
@mixin responed($breackpoint) {
  @if $breackpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breackpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breackpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breackpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
